.text-container {
    overflow: hidden;
  }
  
  .reveal-text {
    display: inline-block;
    transform: translateY(100%);
    animation: reveal 1s forwards;

    color: white;
    font-weight: bold;
  }
  .stroke {
  
    color: transparent;
    font-weight: bold;
    -webkit-text-fill-color: transparent; 
    -webkit-text-stroke: 3px white;
  }
  
  @keyframes reveal {
    to {
      transform: translateY(0);
    }
  }
  